header.header
	.header__container
		img(src="@img/logo.png", alt="expochats")
		nav
			ul(data-da=".menu__body, 991.98")
				li
					a(href="", data-goto="#about") Features
				li
					a(href="", data-goto="#how") How it works
				//- li
				//- 	a(href="", data-goto="#presentation") Presentation
				li
					a(href="", data-goto="#footer") Contacts us	
				li
					a(href="#", data-popup="#login") Login
		nav(hidden).menu
			button(type="button").menu__icon.icon-menu
				span
			.menu__body
