@keyframes left-hand {
	from {
		transform: translateX(-100%);
	} to {
		transform: translateX(0%);
	}
}
@keyframes right-hand {
	from {
		transform: translateX(100%);
	} to {
		transform: translateX(0%);
	}
}

@keyframes typer-cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}