@keyframes left-hand {
	from {
		transform: translateX(-100%);
	} to {
		transform: translateX(0%);
	}
}
@keyframes right-hand {
	from {
		transform: translateX(100%);
	} to {
		transform: translateX(0%);
	}
}