@keyframes left-hand {
	from {
		transform: translateX(-100%);
	} to {
		transform: translateX(0%);
	}
}
@keyframes right-hand {
	from {
		transform: translateX(100%);
	} to {
		transform: translateX(0%);
	}
}

@keyframes typer-cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes flash {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	10% {
		transform: scale(30);
		opacity: 0;
	}
	11% {
		transform: scale(0);
		opacity: 0;
	} 
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes filter {
	0% {
		filter: grayscale(1);
	}
	10% {
		filter: grayscale(0);
	}
	11% {
		filter: grayscale(0);
	} 
	100% {
		filter: grayscale(1);
	}
}