.header {
	margin: 0 auto;
	width: 100%;
	background-color: $mainHighlightColor;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(20);
		min-height: rem(108);
		@media (max-width: $tablet) {
			gap: rem(30);
			min-height: rem(70);
			img {
				max-height: rem(40);
			}
		}
	}
}
nav {
	ul {
		display: flex;
		row-gap: 5px;
		font-size: rem(20);
		line-height: math.div(23, 20);
		font-weight: 600;
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 25px;
		}
		li {
			position: relative;
			&::before{
				content:'';
				position: absolute;
				bottom: rem(-10);
				height: rem(2);
				width: 0%;
				background-color: #000;
				transition: width 0.3s ease;
			}
			@media (any-hover: hover){
				&:hover{
					&::before{
						width: 100%;
					}
				}
			}
		}
	}
}

.menu {
	// .menu__body
	&__body {
		@media(max-width: $tablet) {
			position: fixed;
			top: rem(70);
			left: -100%;
			padding: rem(30) rem(15) rem(50);
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: $mainHighlightColor;
			z-index: 4;
			transition: 0.3s left ease;
			.menu-open & {
				left: 0;
			}
		}
	}
	@media (max-width: $tablet) {
		display: flex;
		flex: 1 1 auto;
		justify-content: flex-end;
	}
}
// Burger ================================================
.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		flex: 0 0 30px;
		width: 40px;
		height: 24px;
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: #000;
			transition: all 0.3s ease 0s;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 2px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				top: calc(50% - 2px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 2px);
				transform: rotate(45deg);
			}
		}
	}
}